.main-class{
    width : 100%;
    background-color: dimgray;
    
}
.sub-class1{
    width : 40%;
    background-color: aqua;
    float : left;
}
h1{
    float : right;
    color :rgb(50, 119, 74);
}
.sub-class2{
    width : 40%;
    float : right;
}